<section class="showcase" [ngClass]="displayMenu ? 'active': ''">
  <header>
    <h2 class="logo"><img src="assets/images/logo.png" width="50"></h2>
    <div class="toggle" (click)="toggleMenu()"></div>
  </header>
  <video src="../../../assets/videos/background-video.mp4" [muted]="true" loop [autoplay]="true"></video>
  <div class="overlay"></div>
  <div class="text centering">
    <h2>Hi I'm Gabi</h2>
    <p >I'm a Java Full Stack Software Engineer</p>
    <a class="button" href="#" (click)="toggleMenu()">Find out more</a>
  </div>
  <ul class="social">
    <li><a href="https://www.facebook.com/gabriel.rusu.10485"><i class="bi bi-facebook social-media"></i></a></li>
    <li><a href="https://www.instagram.com/gabriel.rusu.dev/"><i class="bi bi-instagram social-media"></i></a></li>
    <li><a href="https://github.com/gabriel-rusu"><i class="bi bi-github social-media"></i></a></li>
    <li><a href="https://www.linkedin.com/in/grusu13/"><i class="bi bi-linkedin social-media"></i></a></li>
  </ul>
</section>

<div class="menu" [ngClass]="displayMenu ? 'active': ''">
  <ul>
    <li><a [routerLink]="['/about']">About</a></li>
    <li><a [routerLink]="['/resume']">Résumé</a></li>
  </ul>
</div>
