<section class="showcase" [ngClass]="displayMenu ? 'active': ''">
  <header>
    <h2 class="logo"><img src="assets/images/logo.png" width="50"></h2>
    <div class="toggle" (click)="toggleMenu()"></div>
  </header>
  <video src="../../../assets/videos/background-video.mp4" [muted]="true" loop [autoplay]="true"></video>
  <div class="overlay"></div>
  <div class="text">
    <h2>Hi I'm Gabi</h2>
    <p>I'm a Full Stack Software Engineer from Constanța, Romania passioned about web development, cloud technologies, scalable software and
    U.I design</p>
    <a style="text-align: left" href="#" (click)="toggleMenu()">Find out more</a>
  </div>
  <ul class="social">
    <li><a href="https://www.facebook.com/gabriel.rusu.10485"><i class="bi bi-facebook social-media"></i></a></li>
    <li><a href="https://www.instagram.com/gabriel.rusu.dev/"><i class="bi bi-instagram social-media"></i></a></li>
    <li><a href="https://github.com/gabriel-rusu"><i class="bi bi-github social-media"></i></a></li>
    <li><a href="https://www.linkedin.com/in/grusu13/"><i class="bi bi-linkedin social-media"></i></a></li>
  </ul>
</section>

<div class="menu" [ngClass]="displayMenu ? 'active': ''">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a [routerLink]="['/resume']">Résumé</a></li>
    <li><a [routerLink]="['/projects']">Projects</a></li>
    <li><a [routerLink]="['/contact']">Contact</a></li>
  </ul>
</div>
